.list-element{
    margin-top: 30px;
}
.list-image{
    height: 30px;
    vertical-align: bottom;
    display: inline;
}
.list-text{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
.list-link{
    text-decoration: none;
    color: black
}
.list{
    list-style: none;
    padding: 0;
    position: absolute;
}
.logout{
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-radius: 20px;
    height: 30px;
    width: 100%;
}
.posts{
    list-style: none;
}
.sidebar{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 20%;
    min-height: 100%;
    border-right: 1px solid black;
    box-sizing: border-box;
}
.main{
    position: absolute;
    background-color: white;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
}
.leftsidebar{
    position: fixed;
    background-color: white;
    top: 0;
    left: 80%;
    width: 20%;
    min-height: 100%;
    border-left: 1px solid black;
    box-sizing: border-box;
}
.post_design{
    position: relative;
    width: 600px;
    max-height: max-content;
    margin-bottom: 50px;
    display: block;
}
.post_photo_display{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 15px;
}
.post_text{
    width: 400px;
    min-height: 150px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    overflow: auto;
    resize: none;
}

.post_details{
    width:400px;
    height: 50px;
}

.post_photo_select{
    height: 30px;
    width: 30px;
}
.post_it{
    position: absolute;
    right: 20px;
    bottom: -20px;
    width: 100px;
    border-radius: 15px;
}
.posts_section{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}